<a href="https://colab.research.google.com/github/choki0715/lecture/blob/master/1_1_1_Python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 숫자

 - 기본 연산자 : `+, -, *, /`

In [ ]:
print(2 + 2)

In [ ]:
print(50 - 5 * 6)

In [ ]:
print((50 - 5 * 6) / 4) # 항상 실숫값 반환

 - 거듭제곱(`**`),  몫(`//`),   나머지(`%`)

In [ ]:
print(5 ** 2)

In [ ]:
print(17 // 3)

In [ ]:
print(17 % 3)

 ## 2. Boolean (논리 자료형)

In [ ]:
t = True
f = False
print(type(t)) # Prints "<class 'bool'>"
print(t and f) # Logical AND; prints "False"
print(t or f)  # Logical OR; prints "True"
print(not t)   # Logical NOT; prints "False"
print(t != f)  # Logical XOR; prints "True"

##3. String (문자열 자료)

In [ ]:
s = "hello"
print(s)
print(len(s))           # string length
print(s.capitalize())   # Capitalize a string; prints "Hello"
print(s.upper())        # Convert a string to uppercase; prints "HELLO"
print(s.rjust(10))      # Right-justify a string, padding with spaces; prints "  hello"
print('1234567890')
print(s.center(10))     # Center a string, padding with spaces; prints " hello "
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
                                # prints "he(ell)(ell)o"
print('  world '.strip())  # Strip leading and trailing whitespace; prints "world"

## 4. 자료구조 : 리스트, 딕셔너리, 터플, 세트

- 다른 값들을 덩어리로 묶는데 사용하는 여러가지 컴파운드 자료형 지원

### 4-1. 리스트
   - 대괄호(`[]`) 사이에 쉼표로 구분된 값들의 목록으로 표현되는 시퀀스(sequence) 자료형, 서로다른 항목 가능
   - 문자열과 같이 숫자로 인덱싱, 슬라이스 연산 및 개별 요소 수정도 가능(가변)
   - 이어붙이기 연산도 지원
   - 주요 함수(메서드) `append, pop` ref) https://docs.python.org/ko/3/tutorial/datastructures.html

In [1]:
age = [12, 43, 29, 16, 25]

In [2]:
print(age)

[12, 43, 29, 16, 25]

In [3]:
age[0] = 31

In [4]:
print(age)

[31, 43, 29, 16, 25]

In [5]:
age_2 = ['67', 51]

In [6]:
print(age_2)

['67', 51]

In [7]:
print(age+age_2)

[31, 43, 29, 16, 25, '67', 51]

In [8]:
age.append('36')

In [9]:
print(age)

[31, 43, 29, 16, 25, '36']

In [10]:
print(age_2.pop())

51

In [11]:
print(age_2)

['67']

### 4-2. 딕셔너리
  - 중복되지 않는다는 제약조건을 가진 키:값 쌍의 집합
  - 중괄호(`{}`) 안에 쉽료로 분리된 키:값 쌍들의 목록을 넣어 정의
  - 키(불변)로 인덱싱 및 인덱싱된 값(가변) 수정 가능
  - 주요 함수(메서드) `del, items, keys, values`

In [34]:
tel_1 = {'mina': 4098, 'junho': 4139}
tel_2 = dict(tim=4139, david=4127, john=4098)

In [35]:
print(tel_1, tel_2)

{'mina': 4098, 'junho': 4139} {'tim': 4139, 'david': 4127, 'john': 4098}

In [36]:
print(tel_1['mina'])

4098

In [37]:
tel_1['sujin'] = 1234

In [38]:
print(tel_1)

{'mina': 4098, 'junho': 4139, 'sujin': 1234}

In [41]:
tel_1['mina'] = 5678

In [42]:
print(tel_1)

{'mina': 5678, 'junho': 4139, 'sujin': 1234}

In [43]:
del(tel_1['junho'])

In [44]:
print(tel_1)

{'mina': 5678, 'sujin': 1234}

In [45]:
print(tel_1.items())

dict_items([('mina', 5678), ('sujin', 1234)])

In [46]:
print(tel_1.keys())

dict_keys(['mina', 'sujin'])

### 4-3. 터플
  - 쉼표로 구분되는 여러값으로 구성되는 시퀀스(sequence) 자료형
  - 괄호(`()`) 안에 쉽료로 구성요소를 분리하여 입력
  - 튜플안 요소들은 인덱싱, 언팩킹으로 활용 및 접근 가능하나 불변 자료형이므로 슬라이싱과 개별요소의 수정은 불가
      - 단) 개별요소가 리스트와 같이 가변형 자료일 경우 수정 가능

In [47]:
memo = (12345, 54321, 'hello!')

In [48]:
print(memo)

(12345, 54321, 'hello!')

In [49]:
print(memo[0])

12345

In [52]:
memo_2 = memo, [1, 2, 3, 4, 5]

In [53]:
print(memo_2)

((12345, 54321, 'hello!'), [1, 2, 3, 4, 5])

In [54]:
memo_2[1] = 3

TypeError: ignored

In [55]:
memo_2[1][0] = 33

In [56]:
print(memo_2)

((12345, 54321, 'hello!'), [33, 2, 3, 4, 5])

### 4-4. 세트
  - 집합연산에 사용되는 자료구조
  - 원소의 중복을 허락하지 않음

In [ ]:
 a = set([0,0,0,1,2,3])
 print(a)

{0, 1, 2, 3}

In [ ]:
b = set()
b = {1,3,3,3,4,5,5,6}
print(b)

{1, 3, 4, 5, 6}

In [ ]:
inter1 = a & b
print(inter1)
inter2 = a.intersection(b)
print(inter2)

{1, 3}
{1, 3}

In [ ]:
union1 = a | b
print(union1)
union2 = a.union(b)
print(union2)

{0, 1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4, 5, 6}

In [ ]:
sub1 = a - b
print(sub1)
sub2 = a.difference(b)
print(sub2)

{0, 2}
{0, 2}

In [ ]:

a.add(8)
print(a)
a.remove(8)
print(a)
a.discard(8) # 지우는 항목이 없어도 OK
a.remove(8) # 지우는 항목이 없으면 에러

{0, 1, 2, 3, 8}
{0, 1, 2, 3}

KeyError: ignored

## 5. 흐름 제어: if, for

### 5-1. if
 - `if` 다음의 조건을 판단하여 참인 경우, 선택적으로 실행
 - 없거나 여러개의 elif 부가 있을 수 있고, else 는 선택적
 - `if ... elif ...` 로 switch, case 문 대체

In [60]:
x = int(input("Please enter your age: "))

Please enter your age: 15

In [61]:
if x < 20:
    print('You are a teenager. Enjoy your life!')
elif x < 30:
    print('Work Hard for your future!')
elif x < 60:
    print('Take care of your family and you too')
else:
    print('Always be considerate of others')

You are a teenager. Enjoy your life!

### 5-2. for
  - 시퀀스 (리스트나 문자열)의 항목들을 그 시퀀스에 들어있는 순서대로 순회하기 위해 사용

In [64]:
animals = ['tiger', 'dog', 'elephant']

In [65]:
for w in animals:
    print(w, len(w))

tiger 5
dog 3
elephant 8

In [67]:
for i, w in enumerate(animals):
    print(i, w)

0 tiger
1 dog
2 elephant

  - 숫자들의 시퀀스로 순회 `range()`사용, `range`는 리스트인 것처럼 동작하나 리스트는 아님
      - ex) `range(start, end, step)`

In [68]:
for i in range(5):
     print(i)

0
1
2
3
4

In [ ]:
for i in [0, 1, 2, 3, 4]:
    print(i)

In [ ]:
print(range(5))

In [ ]:
for i in range(0, 10, 3):
     print(i)

## 6. 함수

  - `def` 키워드로 함수 정의 시작, 함수 이름과 형식 매개변수 목록이 뒤따름, 함수 바디는 들여쓰기 된 다음줄에서 시작, 반환값은 `return` 다음 값
  - 함수에서의 모든 변수 대입들은 값을 지역 심볼 테이블에 저장, 함수안 변수 참조 순서는 지역 심볼 테이블 -> 전역 심볼 테이블 -> 내장 이름 테이블
  - 함수 인자: 위치 인자, 기본 인자 값, 키워드 인자값
  - 하나이상의 값 `return` 가능 ex) `return a, b` : 반환 값은 `(a,b)`의 튜플 형식

In [ ]:
# 위치 인자 기본 인자
def add(a, b=2):
    c = a + b
    return c

In [ ]:
print(add(2))

In [ ]:
print(add(2,4))

In [ ]:
print(add(2,b=4))

## 7. 기타

### with 구문
 - 특별한 컨테스트(리소스)에서 실행함을 나타나는데 사용
     - ex) 파일 읽기 쓰기, DB 데이터 조회
 - 대표적으로 파일이나 소켓과 같은 특정한 리소스에 엑세스 하는 경우 해당 리소스를 열고, 리소스를 회수 반환
 - with 구문을 활용하면, 특정 블럭내의 동작으로 제한, 블록을 벗어나는 경우 컨텍스트(리소스)가 해제처리를 보장

In [ ]:
with open("test.txt", 'w') as f:
    f.write('지금 파이썬 연습중')

In [ ]:
with open("test.txt") as f:
    data = f.read()
    print(data)

지금 파이썬 연습중

In [ ]:
!ls

sample_data  test.txt  x.txt

In [ ]:
!pwd

/content